.recipe-container {
  display: flex;
  margin: 1rem;
  max-width: 1000px;
  

  &__image {
    width: 300px;
    height: 300px;
  }
}

.recipe-card {
  flex-grow: 1;
  background-color: whitesmoke;
  justify-content: space-between;

  display: flex;
  flex-direction: column;

  & > * {
    padding: 1.5rem 2.5rem;
  }

  &:hover {
    cursor: pointer;
  }

  &__content {
    &--meal-type {
      font-size: 1.5rem;
      color: #b5460f;
      text-transform: uppercase;
    }

    &--title {
      font-family: 'Frank Ruhl Libre', serif;
      font-size: 3.5rem;

      &:hover {
        text-decoration: underline;
      }
    }

    &--diet-container {
      font-size: 1.3rem;

      & .diet:not(:first-of-type) {
        &:before {
          content: ' | ';
        }
      }
    }
  }

  &__footer {
    display: flex;
    font-size: 1.5rem;

    &--time {
      margin: 0 1rem;
    }

    &--time::after {
      content: ' mins';
    }

    &--calories {
      margin-left: auto;
      margin-right: 5rem;
    }

    &--calories::before {
      content: 'Total ';
    }

    &--calories::after {
      content: ' kcal';
    }
  }

}
