.App {
  height: 100vh;
  display: grid;
  /* 2 columns * 2 rows = 2 areas */
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header" "sidebar content";
}
